/*Do all CSS for DropDown here*/

.select {
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 25vw;
    height: 60px;
    font-size: 30px;
    color: #90a;
    font-weight: bold;
}
