.result {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.convert, .label {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}

.convert {
    font-family: Helvetica, sans-serif;
    border-radius: 15px;
    border: none;
    padding: 2px 10px;
    background: linear-gradient(112deg, #ddd, #70f, #ddd);
    color: #00D65B;
}

.convert:hover {

}
